@import '../sass/_mixin';
@import '../sass/fixed/_inter';

.accumulate-icon {
    @include background-image('../static_svg/accumulate.svg');
    width: 83px;
    height: 83px;
    margin-right: 16.5px;
}
