@import '../sass/mixin';

.list-box {
    margin-left: 35px;
    width: 100%;
    height: 100%;
    @include breakpoint(mobile) {
        margin: 0;
    }
}

.text {
    @include font-group($font-size: 20px, $font-weight: bold);
    width: 100%;
    height: 24px;
    text-align: left;
    color: #fcfcfc;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.page-score {
    text-align: right;
    margin-top: 13px;
}

.list {
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 265px;
    margin-bottom: 12px;
    padding: 8px 15px 6px;
    border-radius: 10px;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    object-fit: contain;
    background-image: linear-gradient(112deg, #ffe53b -21%, #ff2525 143%);
    @include breakpoint(mobile) {
        max-width: 90%;
        margin: 10px auto;
    }
}

.create-time {
    @include font-group($font-size: 12px, $font-weight: normal);
    width: 100%;
    height: 16px;
    text-align: right;
    color: #fcfcfc;
}
