@import 'wow.scss';
#main {
    width: 200px;
    height: 100px;
    background: #ddb92a;

    .greenbox {
        width: 100px;
        height: 50px;
        background: green;
        p,
        a {
            font-size: 20px;
        }
    }
}
