@import '../sass/mixin';
@import '../sass/fixed/inter';

.average-icon {
    @include background-image('../static_svg/growth.svg');
    width: 83px;
    height: 83px;
    margin-right: 16.5px;
    margin: 4px 20px 0 0;
}
