.modal-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.page-detail-modal {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 90%;
    height: 80%;
    top: 0;
    left: 0;
    margin: 100px 10px 2px 60px;
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
    z-index: 9999;
}
.main {
    width: 124px;
    height: 24px;
    font-family: CenturyGothic;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #707070;
    margin: 25px 0 0 10px;
}

.graph-text {
    width: 157px;
    height: 20px;
    font-family: CenturyGothic;
    font-size: 16px;
    color: #707070;
    margin-bottom: 5px;
}
.graph-box {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 100%;
    margin: auto 0;
    position: absolute;
    right: 0;
    margin-top: 2%;
}
.graph-content {
    width: 23vw;
    height: 145px;
    margin: 0 17px 39px 0;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.recharts-surface {
    font-size: 12px;
}

.cancel-icon {
    position: absolute;
    right: 0;
    width: 14px;
    height: 14px;
    background-image: url('../../PageOptimization/static_svg/cancel.svg');
    background-position: center;
    background-size: cover;
    margin: 19px 19px 0 0;
    cursor: pointer;
    z-index: 100000;
}
